
@{
    ViewBag.Title = "Confirmation";
}

<div class="col-md-offset-8 col-md-4">
    <h3>Application Number: @ViewBag.AppId</h3>
</div>


<h2 class="smallCaps">Temporary Food Business Application Payment Advice</h2>

<div class="col-md-12">
    <p>
        Thank you for your application.  In accordance with the <em>Food Act 2003</em> Council
        requires payment of the application fee in order to complete the lodgement of your application.
        The Council will be unable to process your application without receiving both your fee and your
        online form.
    </p>
    <p>
        Please complete your application by making a payment of $20 via one of the following payment options.
    </p>
    <h4>Please quote your application number fromt he top right hand corner of this page when making payment.</h4>
</div>

<div class="row">
    <div class="col-md-4" >
      
      
        <h3 class="smallCaps">Payment in person</h3>
       
        <p>
            Payment can be made in person at the Customer Service Centre, 16 Elizabeth Street, Hobart.
        </p>
        <p>
            Business hours are 8:15 am - 5:00 pm Monday - Friday.

        </p>
        <p>
            Eftpos and credit card facilities are available.
        </p>
    </div>
    <div class="col-md-4">
        <h3 class="smallCaps">Payment by phone</h3>
        <p>
            Credit card payment can be made via phone by calling (03) 6238 2780
        </p>
    </div>
    <div class="col-md-4">
        <h3 class="smallCaps">Payment by mail</h3>
        <p>
            Cheques or money orders should be made payable to City of Hobart.  Post dated cheques will not be accepted.
        </p>
        <p>
            Mail payment together with this advice to: <br />
            The General Manager <br />
            City of Hobart <br />
            GPO Box 503
            Hobart, TAS, 7001
        </p>
    </div>

    <div class="col-md-12">
        Your application will be determined within five (5) working days of lodgement, and if granted, you will
        receive a Certificate of Registration of a Temporary Food Business to the email address you have provided.  
        Please contact teh Environmental Health Unit with any queries in relation to the application process or the
        operation of your temporary food business.
    </div>
    <p class="topPadding10">

    </p>
    <div class="row">
        <div class="col-md-3 col-md-offset-1">
            <h4>Environmental Health Unit</h4>
        </div>
        <div class="col-md-3">
            <h4>(03) 6238 2715</h4>
        </div>
        <div class="col-md-3">
            <h4>health@hobartcity.com.au</h4>
        </div>
    </div>
</div>


