
@{
    ViewBag.Title = "Index";
}

<h2>Application Received</h2>
<p>
    Your application for a temporary stallholder application has been received.
</p>
<p>
Please contact an Environmental Health Officer and quote your reference number @ViewBag.AppId
</p>
<br />
<br />
    <table>
        <tr>
            <th colspan="2">Contact Details</th>
        </tr>
        <tr>
            <td>Phone</td>
            <td>03 6238 2127</td>
        </tr>
        <tr>
            <td>Email</td>
            <td><a href="mailto:health@hobartcity.com.au">health@hobartcity.com.au</a></td>
        </tr>
    </table>


