
@{
    ViewBag.Title = "Confirmation";
}
<h2>TEMPORARY FOOD BUSINESS APPLICATION PAYMENT ADVICE</h2>
<h2>Application Received</h2>
<p>
    Your application for a temporary stallholder application has been received.
</p>
<p>
Please contact an Environmental Health Officer and quote your reference number @ViewBag.AppId 
</p>
<br />
<br />
    <table>
        <tr>
            <th colspan="2">Contact Details</th>
        </tr>
        <tr>
            <td>Phone</td>
            <td>03 6238 2127</td>
        </tr>
        <tr>
            <td>Email</td>
            <td><a href="mailto:health@hobartcity.com.au">health@hobartcity.com.au</a></td>
        </tr>
    </table>

<div class="row">
    <div class="col-md-4">
        <h2>Payment in person</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Payment by phone</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Payment by mail</h2>
        <p>
         Cheques or money orders should be made payable to City of Hobart.  Post dated cheques will not be accepted. <br />
        Mail payment together with this advice to: <br />
        The General Manager <br />
        City of Hobart <br />
        GPO Box 503
        Hobart, TAS, 7001
        </p>
    </div>
</div>
